// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


//
$light-green: #ccffec;
$light-pink: #ffdede;
$light-orange: #ffe8cf;
$light-yellow: #fdfdc4;

//
$pink: #f67280;
$darker-pink: #c06c84;
$purple: #6c5b7b;
$blue: #35477d;
