// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue: #051D4A;
$turquoise: #00DEBC;
$pink: rgba(255,183,162,1);
$light-pink: rgba(255,183,162,0.1);
