<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.45) 0%, rgba(0,36,61,0.45) 50%), url('https://images.unsplash.com/photo-1523301343968-6a6ebf63c672?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=675d706c330862ec0a0b01703de8abba&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1 class="text-flicker-in-glow">Garden Party</h1>
    <!-- <span id="banner-typed-text"></span>
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div> -->
    <br>
    <br>
    <%= link_to 'Start Now', gardens_path, class: "btn btn-primary btn-lg heartbeat" %>
  </div>
</div>
