<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Edit your garden</h1>

      <%= render 'form' %>

      <hr>
      <%= link_to gardens_path do %>
        <i class="fa fa-history"></i> Back to list
      <% end %>
    </div>
  </div>
</div>
