<h1>Gardens</h1>

<div class='map-container'>

  <div class='card-container'>
    <% 10.times do %>
      <% @gardens.each do |garden| %>
        <%= link_to garden_path(garden.id) do %>
          <div class='card grid'>
            <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill, class:'card-img' %>
            <span> <%= garden.name %> </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id='map'>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmhhbSIsImEiOiJjam95aTgyeGUyYnFyM3FsaHg4MHJkY2Y0In0.i9W2cNG5hs6WDU4hibfnQQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9'
    });
    </script>
  </div>
</div>
