<h1>Gardens</h1>

<div class='map-container'>

  <div class='card-container'>
    <% 10.times do %>
      <% @gardens.each do |garden| %>
        <div class='card grid'>
          <img src="https://picsum.photos/300/200/?random" class="card-img" alt="<%= garden.name %>">
          <span> <%= garden.name %> </span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id='map'></div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZmhhbSIsImEiOiJjam95aTgyeGUyYnFyM3FsaHg4MHJkY2Y0In0.i9W2cNG5hs6WDU4hibfnQQ';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9'
  });
  </script>
</div>
