<h1>Gardens</h1>

<div class='map-container'>

  <div class='card-container'>
    <% 10.times do %>
      <% @gardens.each do |garden| %>
        <%= link_to garden_path(garden.id) do %>
          <div class='card card-grid'>
            <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill, class:'card-img' %>
            <h5 class="card-title"> <%= garden.name %> </h5>
            <div class="card-picto">
              <% if garden.swimming_pool == true %>
                <i class="fas fa-tint on-swim picto"></i>
              <% else %>
                <i class="fas fa-tint off picto"></i>
              <% end %>
              <% if garden.barbecue == true %>
                <i class="fas fa-fire on-fire picto"></i>
              <% else %>
                <i class="fas fa-fire off picto"></i>
              <% end %>
            </div>
            <div class="card-price">
              <h5><%= garden.price %>€</h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id='map'>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmhhbSIsImEiOiJjam95aTgyeGUyYnFyM3FsaHg4MHJkY2Y0In0.i9W2cNG5hs6WDU4hibfnQQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9'
    });
    </script>
  </div>
</div>
