<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class='title-setup'>
        <h1>Create a new garden</h1>
      </div>

      <%= render 'form' %>

      <hr>
      <%= link_to gardens_path do %>
        <i class="fa fa-history"></i> Back to list
      <% end %>
    </div>
  </div>
</div>
