.book-name {
  margin-right: 0px;
}
.booking-container {
  display: grid;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 10px;
  background-color: white;
  opacity: 0.8;
  border-style: dashed;
  border-width: 1px;
  border-color:  $pink;
  grid-template-columns: 3fr 2fr 1fr 1fr;
}

.inline-review {
  display: flex;
  align-items: center;
}
.bookings-container {
  padding: 0px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.column-user-infos {
  padding: 0 20px;
  grid-column: 1;
}

.column-booking-date {
  grid-column: 2;
}

.column-number-people-max {
  grid-column: 3;
  justify-content: center;
}

.column-price {
  grid-column: 4;
}
.cancel-booking {
  display: flex;
  grid-column: 5;
  margin: 0px !important;
  padding: 0px !important;
}
.delete-booking:hover {
  opacity: 1;
}
.bookings-garden-name {
  color: $dark-blue;
}

.bookings-garden-name:hover {
  color: $dark-blue;
}






