.card-container{
  width: 60%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.big {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .card-container {
    width: 100%;
  }
  #map-btn {
    display: none;
  }
  .home-header span {
    display: none;
  }
}

.card {
  height: 250px;
  width: 250px;
  background: white;
  margin: 10px;
  z-index: 3;
  background: white;
  border: 10px solid white;
}

.card:hover {
  box-shadow: 0 0 10px lightgrey;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.card-grid {
  display: grid;
  grid-template-rows: 16fr 1fr 2fr;
  grid-template-columns: 1fr 1fr;

}

.card-link {
  z-index: 5;
  background: black;
}

.card-title {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 4px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.card-price {
  grid-row: 3;
  grid-column: 2 / span 1;
  padding: 4px;
  margin: 0px;
  display: flex;
}

.card-price h5 {
  margin: 0;
  left: 65px;
  bottom: 0px;
  position: relative;
}
.card-picto {
  grid-row: 3;
  grid-column: 1 / span 1;
  padding: 4px;
  margin: 0px;
  position: relative;
}

.picto {
  margin: 0px 4px;
}

.on-swim {
  color: blue;
}

.on-fire {
  color: red;
}

.off {
  color: lightgrey;
}
