.card-container {
  width: 60%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my-gardens-container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.big {
  width: 100% !important;
}

.large {
  width: calc(100% - 175px) !important;
}

@media screen and (max-width: 950px) {
  .card-container {
    width: 100%;
  }
  #map-btn {
    display: none;
  }
  .home-header span {
    display: none;
  }
}

.card {
  height: 250px;
  width: 250px;
  background: white;
  margin: 10px;
  z-index: 3;
  background: white;
  border: 10px solid white;
  box-shadow: 0 0 5px lightgrey;
}

.card-map {
  height: 150px;
  width: 150px;
  background: white;
  margin: 10px;
  z-index: 3;
  background: white;
  border: 10px solid white;
  box-shadow: 0 0 5px lightgrey;
}

.my-garden-card {
  height: 400px;
  width: 400px;
  background: white;
  margin: 10px;
  z-index: 3;
  background: white;
  border: 10px solid white;
  box-shadow: 0 0 5px lightgrey;
  h1 {
    font-size: 1.1em;
    margin-top: 10px;
  }
}

.book-display {
  padding: 10px;
  z-index: 3;
  grid-column: 1
}

.add-review-card {
  padding: 10px;
  width: 70;
  grid-column: 2
}

.details-and-review-block {
  width: 800px;
  height: 400px;
  display: grid;
  opacity: 0.8;
  grid-template-columns: 3fr 7fr;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 5px lightgrey;
}

.my-garden-card:hover {
  box-shadow: 0 0 30px lightgrey;
}

.card:hover {
  box-shadow: 0 0 30px lightgrey;
  transform: rotate(0deg) !important;
  // animation: shake 0.5s;
    // animation-iteration-count: infinite;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.card-grid {
  display: grid;
  grid-template-rows: 16fr 1fr 2fr;
  grid-template-columns: 1fr 1fr;

}

.card-link {
  z-index: 5;
  background: black;
}

.card-title {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 4px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.card-description {
  grid-row: 3;
  grid-column: 1 / span 2;
  padding: 4px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.card-price {
  grid-row: 4;
  grid-column: 2 / span 1;
  padding: 4px;
  margin: 0px;
  display: flex;
}

.card-price h5 {
  margin: 0;
  left: 65px;
  bottom: 0px;
  position: relative;
}
.card-picto {
  grid-row: 4;
  grid-column: 1 / span 1;
  padding: 4px;
  margin: 0px;
  position: relative;
}

.picto {
  margin: 0px 4px;
}

.on-swim {
  color: $turquoise;
}

.on-fire {
  color: $pink;
}

.off {
  color: lightgrey;
}

.top-card {
  display: flex;
  grid-column: 1;
  width: auto;
  height: 90px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-position: 0px 0px;
  background:linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('jardin.jpg') no-repeat center;
  box-shadow: 0 0 5px lightgrey;
  background-size: cover !important;
}

.swim-card {
  display: flex;
  grid-column: 2;
  width: auto;
  height: 90px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-position: 0px 0px;
  background:linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('piscine.jpg') no-repeat center;
  box-shadow: 0 0 5px lightgrey;
  background-size: cover !important;
}
.bbq-card {
  display: flex;
  grid-column: 3;
  width: auto;
  height: 90px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-position: 0px 0px;
  background:linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('barbecue.jpg') no-repeat center;
  box-shadow: 0 0 5px lightgrey;
  background-size: cover !important;
}
.search-card:hover {
  box-shadow: 0 0 30px lightgrey;
  opacity: 0.95;
}

.search-card h4 {
  color: white;
}

.new-garden-card{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px lightgrey;
  position: relative;
  top: 13px;
  width: 594px;
  height: 602px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


