.show-container {
  margin: 30px;
}

.show-content {
 height: 500px;
 width: 100%;
}

.show-grid {
  display: grid;
  grid-template-columns: 10fr 1fr 20fr;
  grid-template-rows: 1fr;
}

.show-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row: 1;
  grid-column: 3;
}

.show-title {
  display: flex;
  align-items: center;
  padding: 20px;
  grid-column: 1;
  grid-row: 1;
  background: white;
  margin: 0 !important;
  box-shadow: 0 0 5px lightgrey;
}

.show-btn {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 174px;
  left: -166px;
}

.show-items {
  margin: 30px 20%;
}

#show-desc {
  background: white;
  padding: 20px;
  box-shadow: 0 0 5px lightgrey;
}

#show-picto {
  margin-bottom: 30px;
}
